body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:810px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:16px;
}
#u5243 {
  position:absolute;
  left:10px;
  top:10px;
  width:800px;
  height:16px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5244 {
  position:absolute;
  left:2px;
  top:0px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:625px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5245 {
  position:absolute;
  left:10px;
  top:26px;
  width:800px;
  height:625px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5246 {
  position:absolute;
  left:2px;
  top:304px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:80px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5247 {
  position:absolute;
  left:10px;
  top:26px;
  width:800px;
  height:80px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5248 {
  position:absolute;
  left:2px;
  top:29px;
  width:796px;
  word-wrap:break-word;
}
#u5249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:80px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5249 {
  position:absolute;
  left:10px;
  top:108px;
  width:110px;
  height:80px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5250 {
  position:absolute;
  left:2px;
  top:29px;
  width:106px;
  word-wrap:break-word;
}
#u5251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:80px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5251 {
  position:absolute;
  left:121px;
  top:108px;
  width:120px;
  height:80px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5252 {
  position:absolute;
  left:2px;
  top:29px;
  width:116px;
  word-wrap:break-word;
}
#u5253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:80px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5253 {
  position:absolute;
  left:242px;
  top:108px;
  width:438px;
  height:80px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5254 {
  position:absolute;
  left:2px;
  top:29px;
  width:434px;
  word-wrap:break-word;
}
#u5255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:80px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5255 {
  position:absolute;
  left:681px;
  top:108px;
  width:129px;
  height:80px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5256 {
  position:absolute;
  left:2px;
  top:29px;
  width:125px;
  word-wrap:break-word;
}
#u5257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:80px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5257 {
  position:absolute;
  left:10px;
  top:190px;
  width:110px;
  height:80px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5258 {
  position:absolute;
  left:2px;
  top:32px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:80px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5259 {
  position:absolute;
  left:121px;
  top:190px;
  width:120px;
  height:80px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5260 {
  position:absolute;
  left:2px;
  top:32px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:80px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5261 {
  position:absolute;
  left:242px;
  top:190px;
  width:438px;
  height:80px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5262 {
  position:absolute;
  left:2px;
  top:32px;
  width:434px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:80px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5263 {
  position:absolute;
  left:681px;
  top:190px;
  width:129px;
  height:80px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5264 {
  position:absolute;
  left:2px;
  top:32px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:80px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5265 {
  position:absolute;
  left:10px;
  top:272px;
  width:110px;
  height:80px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5266 {
  position:absolute;
  left:2px;
  top:32px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:80px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5267 {
  position:absolute;
  left:121px;
  top:272px;
  width:120px;
  height:80px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5268 {
  position:absolute;
  left:2px;
  top:32px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:80px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5269 {
  position:absolute;
  left:242px;
  top:272px;
  width:438px;
  height:80px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5270 {
  position:absolute;
  left:2px;
  top:32px;
  width:434px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:80px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5271 {
  position:absolute;
  left:681px;
  top:272px;
  width:129px;
  height:80px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5272 {
  position:absolute;
  left:2px;
  top:32px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:80px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5273 {
  position:absolute;
  left:10px;
  top:354px;
  width:110px;
  height:80px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5274 {
  position:absolute;
  left:2px;
  top:32px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:80px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5275 {
  position:absolute;
  left:121px;
  top:354px;
  width:120px;
  height:80px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5276 {
  position:absolute;
  left:2px;
  top:32px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5277_div {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:80px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5277 {
  position:absolute;
  left:242px;
  top:354px;
  width:438px;
  height:80px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5278 {
  position:absolute;
  left:2px;
  top:29px;
  width:434px;
  word-wrap:break-word;
}
#u5279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:80px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5279 {
  position:absolute;
  left:681px;
  top:354px;
  width:129px;
  height:80px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5280 {
  position:absolute;
  left:2px;
  top:32px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:80px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5281 {
  position:absolute;
  left:10px;
  top:436px;
  width:110px;
  height:80px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5282 {
  position:absolute;
  left:2px;
  top:32px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:80px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5283 {
  position:absolute;
  left:121px;
  top:436px;
  width:120px;
  height:80px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5284 {
  position:absolute;
  left:2px;
  top:32px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:80px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5285 {
  position:absolute;
  left:242px;
  top:436px;
  width:438px;
  height:80px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5286 {
  position:absolute;
  left:2px;
  top:32px;
  width:434px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:80px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5287 {
  position:absolute;
  left:681px;
  top:436px;
  width:129px;
  height:80px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5288 {
  position:absolute;
  left:2px;
  top:32px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:80px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5289 {
  position:absolute;
  left:10px;
  top:518px;
  width:110px;
  height:80px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5290 {
  position:absolute;
  left:2px;
  top:32px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:80px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5291 {
  position:absolute;
  left:121px;
  top:518px;
  width:120px;
  height:80px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5292 {
  position:absolute;
  left:2px;
  top:32px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:80px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5293 {
  position:absolute;
  left:242px;
  top:518px;
  width:438px;
  height:80px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5294 {
  position:absolute;
  left:2px;
  top:32px;
  width:434px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:80px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5295 {
  position:absolute;
  left:681px;
  top:518px;
  width:129px;
  height:80px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5296 {
  position:absolute;
  left:2px;
  top:32px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
