body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:525px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12248 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:45px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-bottom:0px;
  border-radius:7px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12249 {
  position:absolute;
  left:53px;
  top:19px;
  width:472px;
  height:45px;
}
#u12250 {
  position:absolute;
  left:2px;
  top:14px;
  width:468px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u12251 {
  position:absolute;
  left:488px;
  top:30px;
  width:20px;
  height:20px;
}
#u12252 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:553px;
}
#u12253 {
  position:absolute;
  left:53px;
  top:64px;
  width:472px;
  height:553px;
}
#u12254 {
  position:absolute;
  left:2px;
  top:268px;
  width:468px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u12255 {
  position:absolute;
  left:274px;
  top:32px;
  width:50px;
  height:16px;
  color:#FFFFFF;
}
#u12256 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u12257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12257 {
  position:absolute;
  left:483px;
  top:73px;
  width:31px;
  height:20px;
}
#u12258 {
  position:absolute;
  left:2px;
  top:1px;
  width:27px;
  white-space:nowrap;
}
#u12259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12259 {
  position:absolute;
  left:367px;
  top:183px;
  width:55px;
  height:20px;
}
#u12260 {
  position:absolute;
  left:2px;
  top:2px;
  width:51px;
  word-wrap:break-word;
}
#u12261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:114px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12261 {
  position:absolute;
  left:72px;
  top:103px;
  width:441px;
  height:114px;
}
#u12262 {
  position:absolute;
  left:2px;
  top:49px;
  width:437px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u12263 {
  position:absolute;
  left:76px;
  top:107px;
  width:229px;
  height:20px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u12264 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  word-wrap:break-word;
}
#u12265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u12265 {
  position:absolute;
  left:76px;
  top:161px;
  width:422px;
  height:70px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u12266 {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  word-wrap:break-word;
}
#u12267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u12267 {
  position:absolute;
  left:80px;
  top:137px;
  width:422px;
  height:17px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u12268 {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  word-wrap:break-word;
}
#u12269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:327px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12269 {
  position:absolute;
  left:72px;
  top:239px;
  width:441px;
  height:327px;
}
#u12270 {
  position:absolute;
  left:2px;
  top:156px;
  width:437px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12271 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u12272 {
  position:absolute;
  left:84px;
  top:256px;
  width:332px;
  height:20px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u12273 {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  word-wrap:break-word;
}
#u12274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u12274 {
  position:absolute;
  left:87px;
  top:285px;
  width:338px;
  height:17px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u12275 {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  word-wrap:break-word;
}
#u12276_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u12276 {
  position:absolute;
  left:84px;
  top:489px;
  width:320px;
  height:18px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u12277 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u12278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:182px;
}
#u12278 {
  position:absolute;
  left:132px;
  top:303px;
  width:321px;
  height:182px;
}
#u12279 {
  position:absolute;
  left:2px;
  top:83px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u12280 {
  position:absolute;
  left:84px;
  top:528px;
  width:332px;
  height:20px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u12281 {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  word-wrap:break-word;
}
#u12282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:2px;
}
#u12282 {
  position:absolute;
  left:80px;
  top:517px;
  width:418px;
  height:1px;
}
#u12283 {
  position:absolute;
  left:2px;
  top:-8px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u12284 {
  position:absolute;
  left:478px;
  top:528px;
  width:20px;
  height:20px;
}
#u12285 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
