body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1029px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13361_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13361 {
  position:absolute;
  left:5px;
  top:18px;
  width:1024px;
  height:768px;
}
#u13362 {
  position:absolute;
  left:2px;
  top:376px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13363_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:52px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13363 {
  position:absolute;
  left:6px;
  top:733px;
  width:1022px;
  height:52px;
}
#u13364 {
  position:absolute;
  left:2px;
  top:18px;
  width:1018px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13365_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u13365 {
  position:absolute;
  left:263px;
  top:738px;
  width:25px;
  height:25px;
}
#u13366 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13367_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u13367 {
  position:absolute;
  left:511px;
  top:738px;
  width:25px;
  height:25px;
}
#u13368 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13369_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u13369 {
  position:absolute;
  left:634px;
  top:738px;
  width:25px;
  height:25px;
}
#u13370 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13371_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u13371 {
  position:absolute;
  left:758px;
  top:738px;
  width:25px;
  height:25px;
}
#u13372 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13373_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u13373 {
  position:absolute;
  left:387px;
  top:738px;
  width:25px;
  height:25px;
}
#u13374 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13375_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u13375 {
  position:absolute;
  left:261px;
  top:764px;
  width:31px;
  height:20px;
  color:#999999;
}
#u13376 {
  position:absolute;
  left:2px;
  top:1px;
  width:27px;
  white-space:nowrap;
}
#u13377_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u13377 {
  position:absolute;
  left:385px;
  top:764px;
  width:31px;
  height:20px;
  color:#999999;
}
#u13378 {
  position:absolute;
  left:2px;
  top:1px;
  width:27px;
  white-space:nowrap;
}
#u13379_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u13379 {
  position:absolute;
  left:509px;
  top:763px;
  width:31px;
  height:20px;
  color:#999999;
}
#u13380 {
  position:absolute;
  left:2px;
  top:1px;
  width:27px;
  white-space:nowrap;
}
#u13381_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u13381 {
  position:absolute;
  left:632px;
  top:763px;
  width:31px;
  height:20px;
  color:#999999;
}
#u13382 {
  position:absolute;
  left:2px;
  top:1px;
  width:27px;
  white-space:nowrap;
}
#u13383_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13383 {
  position:absolute;
  left:756px;
  top:763px;
  width:31px;
  height:20px;
}
#u13384 {
  position:absolute;
  left:2px;
  top:1px;
  width:27px;
  white-space:nowrap;
}
#u13385_div {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:714px;
  background:-webkit-linear-gradient(270deg, rgba(102, 102, 102, 1) 0%, rgba(102, 102, 102, 1) 18%, rgba(204, 204, 204, 1) 100%, rgba(204, 204, 204, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(102, 102, 102, 1) 0%, rgba(102, 102, 102, 1) 18%, rgba(204, 204, 204, 1) 100%, rgba(204, 204, 204, 1) 100%);
  background:linear-gradient(180deg, rgba(102, 102, 102, 1) 0%, rgba(102, 102, 102, 1) 18%, rgba(204, 204, 204, 1) 100%, rgba(204, 204, 204, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13385 {
  position:absolute;
  left:6px;
  top:18px;
  width:218px;
  height:714px;
}
#u13386 {
  position:absolute;
  left:2px;
  top:349px;
  width:214px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13388 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13389_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u13389 {
  position:absolute;
  left:46px;
  top:25px;
  width:16px;
  height:16px;
}
#u13390 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13391_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13391 {
  position:absolute;
  left:13px;
  top:25px;
  width:29px;
  height:16px;
}
#u13392 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u13393_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13393 {
  position:absolute;
  left:499px;
  top:25px;
  width:37px;
  height:16px;
}
#u13394 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u13395_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u13395 {
  position:absolute;
  left:993px;
  top:25px;
  width:18px;
  height:18px;
}
#u13396 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13397_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1023px;
  height:2px;
}
#u13397 {
  position:absolute;
  left:6px;
  top:732px;
  width:1022px;
  height:1px;
  color:#999999;
}
#u13398 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1018px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13399_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u13399 {
  position:absolute;
  left:575px;
  top:43px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u13400 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u13401_img {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:2px;
}
#u13401 {
  position:absolute;
  left:224px;
  top:72px;
  width:767px;
  height:1px;
}
#u13402 {
  position:absolute;
  left:2px;
  top:-8px;
  width:763px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13403_div {
  position:absolute;
  left:0px;
  top:0px;
  width:649px;
  height:87px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13403 {
  position:absolute;
  left:281px;
  top:128px;
  width:649px;
  height:87px;
}
#u13404 {
  position:absolute;
  left:2px;
  top:36px;
  width:645px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13405 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13406_div {
  position:absolute;
  left:0px;
  top:0px;
  width:647px;
  height:53px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13406 {
  position:absolute;
  left:283px;
  top:256px;
  width:647px;
  height:53px;
}
#u13407 {
  position:absolute;
  left:2px;
  top:18px;
  width:643px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13408_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u13408 {
  position:absolute;
  left:300px;
  top:231px;
  width:57px;
  height:14px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u13409 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u13410_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u13410 {
  position:absolute;
  left:290px;
  top:264px;
  width:160px;
  height:19px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u13411 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  white-space:nowrap;
}
#u13412_div {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#666666;
}
#u13412 {
  position:absolute;
  left:290px;
  top:287px;
  width:395px;
  height:21px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#666666;
}
#u13413 {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  word-wrap:break-word;
}
#u13415 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13416_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:24px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u13416 {
  position:absolute;
  left:857px;
  top:265px;
  width:39px;
  height:24px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u13417 {
  position:absolute;
  left:2px;
  top:4px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13418_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u13418 {
  position:absolute;
  left:857px;
  top:264px;
  width:23px;
  height:25px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u13419 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u13420 {
  position:absolute;
  left:300px;
  top:137px;
  width:79px;
  height:19px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u13421 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u13422_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u13422 {
  position:absolute;
  left:300px;
  top:105px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u13423 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u13424_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u13424 {
  position:absolute;
  left:307px;
  top:455px;
  width:14px;
  height:16px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u13425 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  visibility:hidden;
  white-space:nowrap;
}
#u13426_img {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:2px;
}
#u13426 {
  position:absolute;
  left:283px;
  top:164px;
  width:640px;
  height:1px;
}
#u13427 {
  position:absolute;
  left:2px;
  top:-8px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13429 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13430_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:24px;
  background:inherit;
  background-color:rgba(0, 157, 217, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u13430 {
  position:absolute;
  left:855px;
  top:135px;
  width:39px;
  height:24px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u13431 {
  position:absolute;
  left:2px;
  top:4px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13432_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u13432 {
  position:absolute;
  left:872px;
  top:135px;
  width:23px;
  height:25px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u13433 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13434_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u13434 {
  position:absolute;
  left:294px;
  top:183px;
  width:160px;
  height:19px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u13435 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  white-space:nowrap;
}
#u13437 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13438_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:24px;
  background:inherit;
  background-color:rgba(0, 157, 217, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u13438 {
  position:absolute;
  left:855px;
  top:183px;
  width:39px;
  height:24px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u13439 {
  position:absolute;
  left:2px;
  top:4px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13440_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u13440 {
  position:absolute;
  left:872px;
  top:183px;
  width:23px;
  height:25px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u13441 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13442 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13443_div {
  position:absolute;
  left:0px;
  top:0px;
  width:647px;
  height:159px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13443 {
  position:absolute;
  left:283px;
  top:346px;
  width:647px;
  height:159px;
}
#u13444 {
  position:absolute;
  left:2px;
  top:72px;
  width:643px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13445 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13446 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13447_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u13447 {
  position:absolute;
  left:297px;
  top:355px;
  width:53px;
  height:19px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u13448 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u13449_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u13449 {
  position:absolute;
  left:300px;
  top:485px;
  width:79px;
  height:19px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u13450 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u13451_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#666666;
}
#u13451 {
  position:absolute;
  left:396px;
  top:488px;
  width:133px;
  height:11px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#666666;
}
#u13452 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u13453_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
}
#u13453 {
  position:absolute;
  left:876px;
  top:484px;
  width:20px;
  height:19px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u13454 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13455_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#666666;
}
#u13455 {
  position:absolute;
  left:840px;
  top:487px;
  width:22px;
  height:13px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#666666;
}
#u13456 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u13457_img {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:2px;
}
#u13457 {
  position:absolute;
  left:283px;
  top:476px;
  width:640px;
  height:1px;
}
#u13458 {
  position:absolute;
  left:2px;
  top:-8px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13459_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u13459 {
  position:absolute;
  left:300px;
  top:321px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u13460 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u13461 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13462 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13463_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u13463 {
  position:absolute;
  left:330px;
  top:379px;
  width:145px;
  height:12px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u13464 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u13465 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13466 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13467_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u13467 {
  position:absolute;
  left:330px;
  top:427px;
  width:85px;
  height:12px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u13468 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u13469 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13470 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13471_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u13471 {
  position:absolute;
  left:331px;
  top:456px;
  width:85px;
  height:12px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u13472 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u13473_div {
  position:absolute;
  left:0px;
  top:0px;
  width:493px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u13473 {
  position:absolute;
  left:333px;
  top:402px;
  width:493px;
  height:10px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u13474 {
  position:absolute;
  left:0px;
  top:0px;
  width:493px;
  white-space:nowrap;
}
#u13475_img {
  position:absolute;
  left:0px;
  top:0px;
  width:562px;
  height:2px;
}
#u13475 {
  position:absolute;
  left:330px;
  top:417px;
  width:561px;
  height:1px;
}
#u13476 {
  position:absolute;
  left:2px;
  top:-8px;
  width:557px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13477_img {
  position:absolute;
  left:0px;
  top:0px;
  width:562px;
  height:2px;
}
#u13477 {
  position:absolute;
  left:330px;
  top:445px;
  width:561px;
  height:1px;
}
#u13478 {
  position:absolute;
  left:2px;
  top:-8px;
  width:557px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13479 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13480 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13481_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#666666;
}
#u13481 {
  position:absolute;
  left:851px;
  top:375px;
  width:40px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#666666;
}
#u13482 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u13483_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u13483 {
  position:absolute;
  left:556px;
  top:702px;
  width:127px;
  height:16px;
  color:#999999;
}
#u13484 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u13485_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:149px;
}
#u13485 {
  position:absolute;
  left:224px;
  top:551px;
  width:800px;
  height:149px;
}
#u13486 {
  position:absolute;
  left:2px;
  top:66px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13487_div {
  position:absolute;
  left:0px;
  top:0px;
  width:647px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13487 {
  position:absolute;
  left:283px;
  top:525px;
  width:647px;
  height:32px;
}
#u13488 {
  position:absolute;
  left:2px;
  top:8px;
  width:643px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13489_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u13489 {
  position:absolute;
  left:305px;
  top:532px;
  width:66px;
  height:19px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u13490 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u13491_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u13491 {
  position:absolute;
  left:876px;
  top:531px;
  width:20px;
  height:20px;
}
#u13492 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13494 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13495_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:24px;
  background:inherit;
  background-color:rgba(0, 157, 217, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u13495 {
  position:absolute;
  left:855px;
  top:419px;
  width:39px;
  height:24px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u13496 {
  position:absolute;
  left:2px;
  top:4px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13497_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u13497 {
  position:absolute;
  left:872px;
  top:419px;
  width:23px;
  height:25px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u13498 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13500 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13501_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:24px;
  background:inherit;
  background-color:rgba(0, 157, 217, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u13501 {
  position:absolute;
  left:856px;
  top:450px;
  width:39px;
  height:24px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u13502 {
  position:absolute;
  left:2px;
  top:4px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13503_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u13503 {
  position:absolute;
  left:873px;
  top:450px;
  width:23px;
  height:25px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u13504 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13505 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13506 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13507_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u13507 {
  position:absolute;
  left:47px;
  top:267px;
  width:20px;
  height:20px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u13508 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13509_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u13509 {
  position:absolute;
  left:85px;
  top:268px;
  width:64px;
  height:21px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u13510 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u13511 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13512_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u13512 {
  position:absolute;
  left:48px;
  top:308px;
  width:20px;
  height:20px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u13513 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13514_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u13514 {
  position:absolute;
  left:86px;
  top:308px;
  width:64px;
  height:21px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u13515 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u13516_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u13516 {
  position:absolute;
  left:46px;
  top:387px;
  width:20px;
  height:20px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u13517 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13518_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u13518 {
  position:absolute;
  left:84px;
  top:387px;
  width:64px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u13519 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u13520_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u13520 {
  position:absolute;
  left:48px;
  top:347px;
  width:20px;
  height:20px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u13521 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13522_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u13522 {
  position:absolute;
  left:86px;
  top:347px;
  width:64px;
  height:21px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u13523 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u13524 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13525_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u13525 {
  position:absolute;
  left:48px;
  top:94px;
  width:20px;
  height:20px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#D7D7D7;
}
#u13526 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13527_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D7D7D7;
}
#u13527 {
  position:absolute;
  left:86px;
  top:95px;
  width:64px;
  height:21px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D7D7D7;
}
#u13528 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u13529 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13530 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13531_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u13531 {
  position:absolute;
  left:46px;
  top:141px;
  width:20px;
  height:20px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u13532 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13533_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u13533 {
  position:absolute;
  left:84px;
  top:142px;
  width:64px;
  height:21px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u13534 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u13535 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13536_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u13536 {
  position:absolute;
  left:47px;
  top:182px;
  width:20px;
  height:20px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u13537 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13538_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u13538 {
  position:absolute;
  left:85px;
  top:182px;
  width:64px;
  height:21px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u13539 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u13540_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u13540 {
  position:absolute;
  left:47px;
  top:228px;
  width:20px;
  height:20px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u13541 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13542_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u13542 {
  position:absolute;
  left:85px;
  top:228px;
  width:64px;
  height:21px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u13543 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
