body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:726px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:538px;
}
#u10229 {
  position:absolute;
  left:8px;
  top:8px;
  width:718px;
  height:538px;
}
#u10230 {
  position:absolute;
  left:2px;
  top:261px;
  width:714px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:19px;
}
#u10231 {
  position:absolute;
  left:22px;
  top:20px;
  width:18px;
  height:19px;
}
#u10232 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:538px;
}
#u10233 {
  position:absolute;
  left:463px;
  top:8px;
  width:263px;
  height:538px;
}
#u10234 {
  position:absolute;
  left:2px;
  top:261px;
  width:259px;
  visibility:hidden;
  word-wrap:break-word;
}
